.contact-section{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    font-family: sans-serif;
}

.contact-from{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group label{
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.submit-btn{
    padding: 12px;
    background-color: #333;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn:hover{
    background-color: #555;
}